/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown button */
  .dropbtn {
    background-color: transparent;
    border: none;
    color: #000;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Dropdown menu items */
  .mode-button {
    background-color: transparent;
    border: none;
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer;
  }
  
  /* Add a background color to the dropdown menu items on hover */
  .mode-button:hover {
    background-color: #ddd;
  }
  
  /* Style for active mode button */
  .mode-button.active {
    background-color: #007bff;
    color: #fff;
  }
  